USE [ACMEWorkerDB]
GO
/****** Object:  Table [dbo].[Album]    Script Date: 6/29/2020 8:07:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Album](
	[userId] [int] NOT NULL,
	[id] [int] NOT NULL,
	[title] [nchar](100) NOT NULL,
 CONSTRAINT [PK_Album] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 6/29/2020 8:07:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[postID] [int] NOT NULL,
	[id] [int] NOT NULL,
	[name] [nchar](50) NULL,
	[email] [nchar](50) NULL,
	[body] [nchar](200) NULL,
 CONSTRAINT [PK_Comment] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Connections]    Script Date: 6/29/2020 8:07:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Connections](
	[connection] [nchar](50) NOT NULL,
	[url] [nchar](50) NULL,
 CONSTRAINT [PK_Connections] PRIMARY KEY CLUSTERED 
(
	[connection] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Photo]    Script Date: 6/29/2020 8:07:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Photo](
	[id] [int] NOT NULL,
	[albumId] [int] NOT NULL,
	[title] [nchar](30) NULL,
	[url] [nchar](30) NULL,
	[thumbnailUrl] [nchar](30) NULL,
 CONSTRAINT [PK_Photo] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Post]    Script Date: 6/29/2020 8:07:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Post](
	[userID] [int] NULL,
	[id] [int] NOT NULL,
	[title] [nchar](50) NULL,
	[body] [nchar](10) NULL,
 CONSTRAINT [PK_Post] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table]    Script Date: 6/29/2020 8:07:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table](
	[Id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Todo]    Script Date: 6/29/2020 8:07:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Todo](
	[id] [int] NOT NULL,
	[userId] [int] NOT NULL,
	[title] [nchar](30) NOT NULL,
	[completed] [bit] NOT NULL,
 CONSTRAINT [PK_Todo] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 6/29/2020 8:07:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[id] [int] NOT NULL,
	[username] [nchar](30) NOT NULL,
	[email] [nchar](30) NOT NULL,
	[phone] [nchar](20) NOT NULL,
	[website] [nchar](30) NOT NULL,
	[street] [nchar](30) NOT NULL,
	[suite] [nchar](30) NOT NULL,
	[city] [nchar](30) NOT NULL,
	[zipcode] [nchar](30) NOT NULL,
	[lat] [nchar](15) NOT NULL,
	[lng] [nchar](15) NOT NULL,
	[companyName] [nchar](50) NOT NULL,
	[catchPhrase] [nchar](50) NOT NULL,
	[bs] [nchar](50) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Connections] ([connection], [url]) VALUES (N'albums                                            ', N'/albums                                           ')
INSERT [dbo].[Connections] ([connection], [url]) VALUES (N'Base                                              ', N'https://jsonplaceholder.typicode.com/             ')
INSERT [dbo].[Connections] ([connection], [url]) VALUES (N'comments                                          ', N'/comments                                         ')
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_Post] FOREIGN KEY([postID])
REFERENCES [dbo].[Post] ([id])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_Post]
GO
/****** Object:  StoredProcedure [dbo].[AlbumInsertCommand]    Script Date: 6/29/2020 8:07:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AlbumInsertCommand]
(
	@userId int,
	@id int,
	@title nchar(100)
)
AS
	SET NOCOUNT OFF;
	IF NOT EXISTS( select * from Album where id = @id) 
	BEGIN
		INSERT INTO [Album] ([userId], [id], [title]) VALUES (@userId, @id, @title)
	END
GO
/****** Object:  StoredProcedure [dbo].[CommentInsertCommand]    Script Date: 6/29/2020 8:07:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CommentInsertCommand]
(
	@postID int,
	@id int,
	@name nchar(10),
	@email nchar(10),
	@body nchar(10)
)
AS
	SET NOCOUNT OFF;

	IF NOT EXISTS( select * from comment where id = @id) 
	BEGIN
INSERT INTO [comment] ([postID], [id], [name], [email], [body]) VALUES (@postID, @id, @name, @email, @body);
	
SELECT postID, id, name, email, body FROM Comment WHERE (id = @id)
	END
GO
/****** Object:  StoredProcedure [dbo].[GetUrl]    Script Date: 6/29/2020 8:07:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetUrl]
	@target nchar(20),
	@result nchar(50) output
AS
	 SELECT @result = url from Connections where connection = @target
GO
/****** Object:  StoredProcedure [dbo].[PhotoInsertCommand]    Script Date: 6/29/2020 8:07:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PhotoInsertCommand]
(
	@id int,
	@albumId int,
	@title nchar(30),
	@url nchar(30),
	@thumbnailUrl nchar(30)
)
AS
	SET NOCOUNT OFF;

	IF NOT EXISTS( select * from photo where id = @id) 
	BEGIN
		INSERT INTO [photo] ([id], [albumId], [title], [url], [thumbnailUrl]) VALUES (@id, @albumId, @title, @url, @thumbnailUrl)
	END
GO
/****** Object:  StoredProcedure [dbo].[PostInsertCommand]    Script Date: 6/29/2020 8:07:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PostInsertCommand]
(
	@userID int,
	@id int,
	@title nchar(50),
	@body nchar(10)
)
AS
	SET NOCOUNT OFF;

	IF NOT EXISTS( select * from [Post] where id = @id) 
	BEGIN
INSERT INTO [Post] ([userID], [id], [title], [body]) VALUES (@userID, @id, @title, @body);
	
SELECT userID, id, title, body FROM Post WHERE (id = @id)
	END
GO
/****** Object:  StoredProcedure [dbo].[TodoInsertCommand]    Script Date: 6/29/2020 8:07:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TodoInsertCommand]
(
	@id int,
	@userId int,
	@title nchar(30),
	@completed bit
)
AS
	SET NOCOUNT OFF;

	IF NOT EXISTS( select * from todo where id = @id) 
	BEGIN
		INSERT INTO [todo] ([id], [userId], [title], [completed]) VALUES (@id, @userId, @title, @completed)
	END
GO
/****** Object:  StoredProcedure [dbo].[UserInsertCommand]    Script Date: 6/29/2020 8:07:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UserInsertCommand]
	(@id int,
	@username nchar(30),
	@email nchar(30),
	@phone nchar(20),
	@website nchar(30),

	@street nchar(30),
	@suite nchar(30),
	@city nchar(30),
	@zipcode nchar(30),
	@lat nchar(15),
	@lng nchar(15),

	@companyName nchar(50),
	@catchPhrase nchar(50),
	@bs nchar(50)
	)
AS 
	SET NOCOUNT OFF;
	IF NOT EXISTS( select * from [User] where id = @id) 
	BEGIN
		INSERT INTO [User] ([id], [username], [email], [phone], [website], [street], [suite], 
							[city], [zipcode], [lat], [lng], [companyName], [catchPhrase], [bs])
					VALUES  (@id, @username, @email, @phone, @website, @street, @suite, @city, @zipcode, @lat, @lng,
								@companyName, @catchPhrase, @bs);
	END
GO
